
@{
    ViewBag.Title = "Index";
}

<main>
    <div class="coloumn">
        <<a href="/">HOME</a>
        <a href="/Company/Services">SERVICES</a>
        <a href="/Company/TeamMember">TEAMS & MEMBERS</a>
        <a href="/Company/Contact">CONTACT</a>


        <h1>Welcome To Our Company</h1>
        <p>We are here to serve you!</p>
    </div>
</main>